{
  "openapi": "3.1.0",
  "info": {
    "title": "TokenOps AI API",
    "description": "TokenOps AI API 提供了强大的AI服务能力，包括聊天对话、Gemini模型集成等功能。",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tokenops.ai",
      "description": "TokenOps AI API 生产环境"
    }
  ],
  "paths": {
    "/v1/messages": {
      "post": {
        "summary": "创建消息",
        "description": "发送结构化的输入消息列表（包含文本和/或图像内容），模型将生成对话中的下一条消息。Messages API可用于单次查询或无状态多轮对话。",
        "operationId": "createMessage",
        "security": [
          {
                      "ClaudeAuth": [

                      ],
                      "AnthropicVersionAuth": [

                      ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "消息创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{message_id}/tokens": {
      "post": {
        "summary": "计算消息Token数量",
        "description": "计算给定消息的token数量，不实际发送请求",
        "operationId": "countMessageTokens",
        "security": [
          {
                      "ClaudeAuth": [

                      ],
                      "AnthropicVersionAuth": [

                      ]
          }
        ],
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "description": "消息ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token计算成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "tags": [
          "Chat"
        ],
        "summary": "创建聊天完成",
        "description": "为给定的聊天对话创建模型响应。您可以在文本生成、视觉和音频指南中了解更多信息。\n\n参数支持可能因用于生成响应的模型而异，特别是对于较新的推理模型。仅推理模型支持的参数将在下文中标注。",
        "security": [
          {
                      "OpenAIAuth": [

                      ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "返回聊天完成对象，如果请求是流式的，则返回聊天完成块对象的流式序列。",
            "content": {
              "application/json": {
                "schema": {
                                  "$ref": "#/components/schemas/CreateChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                                  "$ref": "#/components/schemas/CreateChatCompletionStreamResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "operationId": "createResponse",
        "tags": [
          "Responses"
        ],
        "summary": "创建模型响应",
        "description": "创建一个模型响应。提供文本或图像输入来生成文本或JSON输出。让模型调用您自己的自定义代码或使用内置工具，如网络搜索或文件搜索，将您自己的数据作为模型响应的输入。",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResponseRequest"
              },
              "examples": {
                "basic_text": {
                  "summary": "基础文本对话",
                  "description": "简单的文本对话请求",
                  "value": {
                    "model": "gpt-4.1",
                    "input": "解释一下什么是人工智能",
                    "max_output_tokens": 1000,
                    "temperature": 0.7
                  }
                },
                "structured_output": {
                  "summary": "结构化输出",
                  "description": "要求模型返回JSON格式的结构化数据",
                  "value": {
                    "model": "gpt-4.1",
                    "input": "分析苹果公司的基本信息，包括公司名称、成立年份、创始人、主要业务等，以JSON格式返回",
                    "text": {
                      "format": {
                        "type": "json_object"
                      }
                    },
                    "max_output_tokens": 500
                  }
                },
                "thinking_mode": {
                  "summary": "推理模式",
                  "description": "启用模型的推理思考过程",
                  "value": {
                    "model": "o1-2024-12-17",
                    "input": "请解决这个数学问题：一个圆的面积是78.54平方厘米，求这个圆的周长。请详细说明解题思路。",
                    "reasoning": {
                      "effort": "medium"
                    }
                  }
                },
                "web_search": {
                  "summary": "网络搜索",
                  "description": "使用网络搜索工具获取最新信息",
                  "value": {
                    "model": "gpt-4.1",
                    "input": "今天有什么积极的新闻？",
                    "tools": [
                      {
                        "type": "web_search_preview"
                      }
                    ],
                    "tool_choice": "auto",
                    "max_output_tokens": 500
                  }
                },
                "file_search": {
                  "summary": "文件搜索",
                  "description": "在向量存储中搜索相关文档",
                  "value": {
                    "model": "gpt-4.1",
                    "input": "古代棕龙的属性是什么？",
                    "tools": [
                      {
                        "type": "file_search",
                        "vector_store_ids": ["vs_1234567890"],
                        "max_num_results": 20
                      }
                    ],
                    "tool_choice": "auto",
                    "max_output_tokens": 500
                  }
                },
                "function_calling": {
                  "summary": "函数调用",
                  "description": "调用自定义函数获取实时数据",
                  "value": {
                    "model": "gpt-4.1",
                    "input": "波士顿今天的天气如何？",
                    "tools": [
                      {
                        "type": "function",
                        "name": "get_current_weather",
                        "description": "获取指定地点的当前天气",
                        "parameters": {
                          "type": "object",
                          "properties": {
                            "location": {
                              "type": "string",
                              "description": "城市和州，例如：San Francisco, CA"
                            },
                            "unit": {
                              "type": "string",
                              "enum": ["celsius", "fahrenheit"]
                            }
                          },
                          "required": ["location", "unit"]
                        }
                      }
                    ],
                    "tool_choice": "auto",
                    "max_output_tokens": 500
                  }
                },
                "multimodal": {
                  "summary": "多模态输入",
                  "description": "处理包含图像的多模态输入",
                  "value": {
                    "model": "gpt-4.1",
                    "input": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "这张图片里有什么？"
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"
                            }
                          }
                        ]
                      }
                    ],
                    "max_output_tokens": 300
                  }
                },
                "streaming": {
                  "summary": "流式响应",
                  "description": "启用实时流式响应",
                  "value": {
                    "model": "gpt-4.1",
                    "input": "写一篇关于人工智能发展历史的简短文章",
                    "stream": true,
                    "max_output_tokens": 1000,
                    "temperature": 0.8
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-4.1\",\n    \"input\": \"给我讲一个关于独角兽的三句话睡前故事。\"\n  }'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-4.1\",\n    input: \"给我讲一个关于独角兽的三句话睡前故事。\"\n});\n\nconsole.log(response);"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from openai import OpenAI\n\nclient = OpenAI(\n    api_key=\"My API Key\",\n)\nresponse = client.responses.create(\n    model=\"gpt-4.1\",\n    input=\"给我讲一个关于独角兽的三句话睡前故事。\"\n)\nprint(response.id)"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-4.1\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nOpenAIResponse response = client.CreateResponse(\"给我讲一个关于独角兽的三句话睡前故事。\");\n\nConsole.WriteLine(response.GetOutputText());"
          },
          {
            "lang": "nodejs",
            "label": "Node.js",
            "source": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: 'My API Key',\n});\n\nconst response = await client.responses.create({\n  model: 'gpt-4.1',\n  input: '给我讲一个关于独角兽的三句话睡前故事。'\n});\n\nconsole.log(response.id);"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\n  \"github.com/openai/openai-go/option\"\n  \"github.com/openai/openai-go/responses\"\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\"My API Key\"),\n  )\n  response, err := client.Responses.New(context.TODO(), responses.ResponseNewParams{\n    Model: openai.F(\"gpt-4.1\"),\n    Input: openai.F(\"给我讲一个关于独角兽的三句话睡前故事。\"),\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\"%+v\\n\", response.ID)\n}"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.responses.Response;\nimport com.openai.models.responses.ResponseCreateParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        Response response = client.responses().create(\n            ResponseCreateParams.builder()\n                .model(\"gpt-4.1\")\n                .input(\"给我讲一个关于独角兽的三句话睡前故事。\")\n                .build()\n        );\n        System.out.println(response.getId());\n    }\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require \"openai\"\n\nopenai = OpenAI::Client.new(api_key: \"My API Key\")\n\nresponse = openai.responses.create(\n  model: \"gpt-4.1\",\n  input: \"给我讲一个关于独角兽的三句话睡前故事。\"\n)\n\nputs(response.id)"
          }
        ],
        "responses": {
          "200": {
            "description": "响应生成成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponseResponse"
                },
                "examples": {
                  "basic_response": {
                    "summary": "基础响应",
                    "value": {
                      "id": "resp_67ccd2bed1ec8190b14f964abc0542670bb6a6b452d3795b",
                      "object": "response",
                      "created_at": 1741476542,
                      "status": "completed",
                      "error": null,
                      "incomplete_details": null,
                      "instructions": null,
                      "max_output_tokens": null,
                      "model": "gpt-4.1-2025-04-14",
                      "output": [
                        {
                          "type": "message",
                          "id": "msg_67ccd2bf17f0819081ff3bb2cf6508e60bb6a6b452d3795b",
                          "status": "completed",
                          "role": "assistant",
                          "content": [
                            {
                              "type": "output_text",
                              "text": "人工智能（Artificial Intelligence, AI）是计算机科学的一个分支，致力于创建能够模拟人类智能的计算机系统。AI技术包括机器学习、深度学习、自然语言处理等多个领域，在医疗、金融、教育等行业都有广泛应用。",
                              "annotations": []
                            }
                          ]
                        }
                      ],
                      "parallel_tool_calls": true,
                      "previous_response_id": null,
                      "reasoning": {
                        "effort": null,
                        "summary": null
                      },
                      "store": true,
                      "temperature": 1.0,
                      "text": {
                        "format": {
                          "type": "text"
                        }
                      },
                      "tool_choice": "auto",
                      "tools": [],
                      "top_p": 1.0,
                      "truncation": "disabled",
                      "usage": {
                        "input_tokens": 12,
                        "input_tokens_details": {
                          "cached_tokens": 0
                        },
                        "output_tokens": 150,
                        "output_tokens_details": {
                          "reasoning_tokens": 0
                        },
                        "total_tokens": 162
                      },
                      "user": null,
                      "metadata": {}
                    }
                  },
                  "structured_response": {
                    "summary": "结构化响应",
                    "value": {
                      "id": "resp_67ccd3a9da748190baa7f1570fe91ac604becb25c45c1d41",
                      "object": "response",
                      "created_at": 1741476777,
                      "status": "completed",
                      "error": null,
                      "incomplete_details": null,
                      "instructions": null,
                      "max_output_tokens": null,
                      "model": "gpt-4.1-2025-04-14",
                      "output": [
                        {
                          "type": "message",
                          "id": "msg_67ccd3acc8d48190a77525dc6de64b4104becb25c45c1d41",
                          "status": "completed",
                          "role": "assistant",
                          "content": [
                            {
                              "type": "output_text",
                              "text": "{\n  \"company_name\": \"Apple Inc.\",\n  \"founded_year\": 1976,\n  \"founders\": [\"Steve Jobs\", \"Steve Wozniak\", \"Ronald Wayne\"],\n  \"main_business\": [\"消费电子产品\", \"软件\", \"服务\"]\n}",
                              "annotations": []
                            }
                          ]
                        }
                      ],
                      "parallel_tool_calls": true,
                      "previous_response_id": null,
                      "reasoning": {
                        "effort": null,
                        "summary": null
                      },
                      "store": true,
                      "temperature": 1.0,
                      "text": {
                        "format": {
                          "type": "json_object"
                        }
                      },
                      "tool_choice": "auto",
                      "tools": [],
                      "top_p": 1.0,
                      "truncation": "disabled",
                      "usage": {
                        "input_tokens": 25,
                        "input_tokens_details": {
                          "cached_tokens": 0
                        },
                        "output_tokens": 80,
                        "output_tokens_details": {
                          "reasoning_tokens": 0
                        },
                        "total_tokens": 105
                      },
                      "user": null,
                      "metadata": {}
                    }
                  },
                  "thinking_response": {
                    "summary": "推理模式响应",
                    "value": {
                      "id": "resp_67ccd7eca01881908ff0b5146584e408072912b2993db808",
                      "object": "response",
                      "created_at": 1741477868,
                      "status": "completed",
                      "error": null,
                      "incomplete_details": null,
                      "instructions": null,
                      "max_output_tokens": null,
                      "model": "o1-2024-12-17",
                      "output": [
                        {
                          "type": "message",
                          "id": "msg_67ccd7f7b5848190a6f3e95d809f6b44072912b2993db808",
                          "status": "completed",
                          "role": "assistant",
                          "content": [
                            {
                              "type": "output_text",
                              "text": "根据圆的面积为78.54平方厘米，我可以计算出周长为31.42厘米。\n\n解题步骤：\n1. 由面积公式 A = πr²，得到 r² = A/π = 78.54/3.14159 ≈ 25\n2. 因此半径 r = √25 = 5厘米\n3. 周长 C = 2πr = 2 × 3.14159 × 5 = 31.42厘米",
                              "annotations": []
                            }
                          ]
                        }
                      ],
                      "parallel_tool_calls": true,
                      "previous_response_id": null,
                      "reasoning": {
                        "effort": "high",
                        "summary": null
                      },
                      "store": true,
                      "temperature": 1.0,
                      "text": {
                        "format": {
                          "type": "text"
                        }
                      },
                      "tool_choice": "auto",
                      "tools": [],
                      "top_p": 1.0,
                      "truncation": "disabled",
                      "usage": {
                        "input_tokens": 81,
                        "input_tokens_details": {
                          "cached_tokens": 0
                        },
                        "output_tokens": 1035,
                        "output_tokens_details": {
                          "reasoning_tokens": 832
                        },
                        "total_tokens": 1116
                      },
                      "user": null,
                      "metadata": {}
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                                  "$ref": "#/components/schemas/ResponseStreamEvent"
                },
                "examples": {
                  "streaming_response": {
                    "summary": "流式响应示例",
                    "value": "event: response.created\ndata: {\"type\":\"response.created\",\"response\":{\"id\":\"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654\",\"object\":\"response\",\"created_at\":1741290958,\"status\":\"in_progress\",\"error\":null,\"incomplete_details\":null,\"instructions\":\"您是一个有用的助手。\",\"max_output_tokens\":null,\"model\":\"gpt-4.1-2025-04-14\",\"output\":[],\"parallel_tool_calls\":true,\"previous_response_id\":null,\"reasoning\":{\"effort\":null,\"summary\":null},\"store\":true,\"temperature\":1.0,\"text\":{\"format\":{\"type\":\"text\"}},\"tool_choice\":\"auto\",\"tools\":[],\"top_p\":1.0,\"truncation\":\"disabled\",\"usage\":null,\"user\":null,\"metadata\":{}}}\n\nevent: response.output_item.added\ndata: {\"type\":\"response.output_item.added\",\"output_index\":0,\"item\":{\"id\":\"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654\",\"type\":\"message\",\"status\":\"in_progress\",\"role\":\"assistant\",\"content\":[]}}\n\nevent: response.content_part.added\ndata: {\"type\":\"response.content_part.added\",\"item_id\":\"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654\",\"output_index\":0,\"content_index\":0,\"part\":{\"type\":\"output_text\",\"text\":\"\",\"annotations\":[]}}\n\nevent: response.output_text.delta\ndata: {\"type\":\"response.output_text.delta\",\"item_id\":\"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654\",\"output_index\":0,\"content_index\":0,\"delta\":\"人工智能\"}\n\nevent: response.output_text.delta\ndata: {\"type\":\"response.output_text.delta\",\"item_id\":\"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654\",\"output_index\":0,\"content_index\":0,\"delta\":\"是一门\"}\n\nevent: response.output_text.done\ndata: {\"type\":\"response.output_text.done\",\"item_id\":\"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654\",\"output_index\":0,\"content_index\":0,\"text\":\"人工智能是一门致力于创建智能机器的计算机科学分支...\"}\n\nevent: response.completed\ndata: {\"type\":\"response.completed\",\"response\":{\"id\":\"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654\",\"object\":\"response\",\"created_at\":1741290958,\"status\":\"completed\",\"error\":null,\"incomplete_details\":null,\"instructions\":\"您是一个有用的助手。\",\"max_output_tokens\":null,\"model\":\"gpt-4.1-2025-04-14\",\"output\":[{\"id\":\"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654\",\"type\":\"message\",\"status\":\"completed\",\"role\":\"assistant\",\"content\":[{\"type\":\"output_text\",\"text\":\"人工智能是一门致力于创建智能机器的计算机科学分支...\",\"annotations\":[]}]}],\"parallel_tool_calls\":true,\"previous_response_id\":null,\"reasoning\":{\"effort\":null,\"summary\":null},\"store\":true,\"temperature\":1.0,\"text\":{\"format\":{\"type\":\"text\"}},\"tool_choice\":\"auto\",\"tools\":[],\"top_p\":1.0,\"truncation\":\"disabled\",\"usage\":{\"input_tokens\":37,\"output_tokens\":58,\"output_tokens_details\":{\"reasoning_tokens\":0},\"total_tokens\":95},\"user\":null,\"metadata\":{}}}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "生成内容",
        "description": "使用指定模型生成文本内容",
        "operationId": "generateContent",
        "security": [
          {
                      "ApiKeyAuth": [

                      ]
          }
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "模型名称，如 gemini-2.5-flash",
            "schema": {
              "type": "string",
              "example": "gemini-2.5-flash"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "text_only": {
                  "summary": "纯文本对话",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "text": "请介绍一下人工智能的发展历史"
                          }
                        ]
                      }
                    ]
                  }
                },
                "video_understanding": {
                  "summary": "视频理解（使用 FileUpload API）",
                  "description": "先通过 /v1/files/upload 上传视频文件，获得 tokenops:// URI，然后用于视频内容分析",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "fileData": {
                              "mimeType": "video/mp4",
                              "fileUri": "tokenops://bucket.example.com/file_api/20241016/video.mp4"
                            }
                          },
                          {
                            "text": "这个视频里发生了什么？请详细描述视频内容。"
                          }
                        ]
                      }
                    ]
                  }
                },
                "image_understanding": {
                  "summary": "图片理解（使用 FileUpload API）",
                  "description": "先通过 /v1/files/upload 上传图片文件，获得 tokenops:// URI，然后用于图片内容分析",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "tokenops://bucket.example.com/file_api/20241016/image.jpg"
                            }
                          },
                          {
                            "text": "请分析这张图片的内容，包括场景、物体、人物等。"
                          }
                        ]
                      }
                    ]
                  }
                },
                "multiple_files": {
                  "summary": "多文件分析",
                  "description": "同时分析多个上传的文件",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "tokenops://bucket.example.com/file_api/20241016/image1.jpg"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "tokenops://bucket.example.com/file_api/20241016/image2.jpg"
                            }
                          },
                          {
                            "text": "请比较这两张图片的异同点。"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功生成内容",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API密钥无效或权限不足",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{model}:streamGenerateContent": {
      "post": {
        "summary": "流式生成内容",
        "description": "使用指定模型流式生成内容",
        "operationId": "streamGenerateContent",
        "security": [
          {
                      "ApiKeyAuth": [

                      ]
          }
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "模型名称，如 gemini-2.5-flash",
            "schema": {
              "type": "string",
              "example": "gemini-2.5-flash"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "text_streaming": {
                  "summary": "流式文本对话",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "text": "请详细介绍人工智能的未来发展趋势"
                          }
                        ]
                      }
                    ]
                  }
                },
                "video_streaming": {
                  "summary": "流式视频理解（使用 FileUpload API）",
                  "description": "先通过 /v1/files/upload 上传视频，然后流式分析视频内容",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "fileData": {
                              "mimeType": "video/mp4",
                              "fileUri": "tokenops://bucket.example.com/file_api/20241016/video.mp4"
                            }
                          },
                          {
                            "text": "请实时分析这个视频的内容，包括场景变化、动作和对话。"
                          }
                        ]
                      }
                    ]
                  }
                },
                "image_streaming": {
                  "summary": "流式图片理解（使用 FileUpload API）",
                  "description": "先通过 /v1/files/upload 上传图片，然后流式分析图片内容",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "tokenops://bucket.example.com/file_api/20241016/image.jpg"
                            }
                          },
                          {
                            "text": "请详细描述这张图片，包括所有可见的细节。"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "流式响应",
            "content": {
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{model}:predictLongRunning": {
      "post": {
        "summary": "创建长时间运行的视频生成任务",
        "description": "使用Gemini模型创建视频生成任务。支持文本到视频和基于源视频的生成。",
        "operationId": "predictLongRunning",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "视频生成模型名称，如 veo-3.1-generate-preview",
            "schema": {
              "type": "string",
              "example": "veo-3.1-generate-preview"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VertexVideoRequest"
              },
              "examples": {
                "text_to_video": {
                  "summary": "文本到视频生成",
                  "description": "根据文本提示生成视频",
                  "value": {
                    "instances": [
                      {
                        "prompt": "一只可爱的小猫在花园里玩耍，阳光明媚"
                      }
                    ],
                    "parameters": {
                      "aspectRatio": "16:9",
                      "durationSeconds": 4,
                      "sampleCount": 1
                    }
                  }
                },
                "image_to_video": {
                  "summary": "图片到视频生成",
                  "description": "基于图片和文本提示生成视频",
                  "value": {
                    "instances": [
                      {
                        "prompt": "小猫开始在花园里奔跑",
                        "image": {
                          "uri": "tokenops://bucket.example.com/file_api/20241016/cat.jpg",
                          "mimeType": "image/jpeg"
                        }
                      }
                    ],
                    "parameters": {
                      "aspectRatio": "16:9",
                      "durationSeconds": 4,
                      "sampleCount": 1
                    }
                  }
                },
                "video_to_video": {
                  "summary": "视频到视频生成",
                  "description": "基于源视频和文本提示生成新视频",
                  "value": {
                    "instances": [
                      {
                        "prompt": "将场景改为夜晚，添加星空背景",
                        "video": {
                          "uri": "tokenops://bucket.example.com/file_api/20241016/source.mp4",
                          "mimeType": "video/mp4"
                        }
                      }
                    ],
                    "parameters": {
                      "aspectRatio": "16:9",
                      "durationSeconds": 4,
                      "sampleCount": 1
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "视频生成任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationName"
                },
                "examples": {
                  "operation_created": {
                    "summary": "任务创建成功",
                    "value": {
                      "name": "projects/my-project/locations/us-central1/operations/operation-1234567890abcdef"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "客户端错误（包括请求参数错误、API密钥无效等）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{project_id}/locations/{location}/publishers/{publisher}/models/{model}/operations/{operation_id}": {
      "get": {
        "summary": "获取视频生成操作状态",
        "description": "查询视频生成任务的状态和结果。",
        "operationId": "getGenerateVideosOperation",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "项目ID",
            "schema": {
              "type": "string",
              "example": "my-project"
            }
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "description": "地理位置",
            "schema": {
              "type": "string",
              "example": "us-central1"
            }
          },
          {
            "name": "publisher",
            "in": "path",
            "required": true,
            "description": "发布者",
            "schema": {
              "type": "string",
              "example": "google"
            }
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "模型名称",
            "schema": {
              "type": "string",
              "example": "veo-3.1-generate-preview"
            }
          },
          {
            "name": "operation_id",
            "in": "path",
            "required": true,
            "description": "操作ID，从predictLongRunning接口返回的操作名称中提取",
            "schema": {
              "type": "string",
              "example": "projects/my-project/locations/us-central1/operations/operation-123456789"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取操作状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateVideosOperation"
                }
              }
            }
          },
          "400": {
            "description": "客户端错误（包括操作不存在、权限不足等）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{model}:embedContent": {
      "post": {
        "summary": "生成嵌入向量",
        "description": "为输入内容生成嵌入向量",
        "operationId": "embedContent",
        "security": [
          {
                      "ApiKeyAuth": [

                      ]
          }
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "嵌入模型名称，如 text-embedding-004",
            "schema": {
              "type": "string",
              "example": "text-embedding-004"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功生成嵌入向量",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{model}:countTokens": {
      "post": {
        "summary": "计算Token数量",
        "description": "计算给定内容的token数量",
        "operationId": "countTokens",
        "security": [
          {
                      "ApiKeyAuth": [

                      ]
          }
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "模型名称",
            "schema": {
              "type": "string",
              "example": "gemini-2.5-flash"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountTokensRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token计数结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountTokensResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "summary": "列出可用模型",
        "description": "获取所有可用的Gemini模型列表",
        "operationId": "listModels",
        "security": [
          {
                      "ApiKeyAuth": [

                      ]
          }
        ],
        "responses": {
          "200": {
            "description": "模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models/{name}": {
      "get": {
        "summary": "获取模型信息",
        "description": "获取特定模型的详细信息",
        "operationId": "getModel",
        "security": [
          {
                      "ApiKeyAuth": [

                      ]
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "模型名称",
            "schema": {
              "type": "string",
              "example": "models/gemini-2.5-flash"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "模型信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "operationId": "createImage",
              "tags": [
                  "Images"
              ],
        "summary": "创建图像",
        "description": "根据给定的文本提示创建图像。支持多种模型包括gpt-image-1和DALL·E 3，提供不同的质量、尺寸和风格选项。",
        "security": [
          {
                      "OpenAIAuth": [

                      ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateImageRequest"
              },
              "examples": {
                "basic_generation": {
                  "summary": "基础图像生成",
                  "description": "使用默认设置生成图像",
                  "value": {
                    "model": "dall-e-3",
                    "prompt": "一只可爱的小猫在花园里玩耍，阳光明媚，油画风格",
                    "n": 1,
                    "size": "1024x1024"
                  }
                },
                "high_quality_generation": {
                  "summary": "高质量图像生成",
                  "description": "生成高质量的详细图像",
                  "value": {
                    "model": "dall-e-3",
                    "prompt": "未来主义城市天际线，充满霓虹灯和飞行汽车，赛博朋克风格",
                    "n": 1,
                    "size": "1792x1024",
                    "quality": "hd",
                    "style": "vivid"
                  }
                },
                "multiple_images": {
                  "summary": "批量图像生成",
                  "description": "一次生成多张图像（仅DALL·E 2支持）",
                  "value": {
                    "model": "dall-e-2",
                    "prompt": "抽象艺术，充满活力的颜色和几何形状",
                    "n": 4,
                    "size": "1024x1024"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "图像创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagesResponse"
                },
                "examples": {
                  "success_response": {
                    "summary": "图像生成成功",
                    "value": {
                      "created": 1589478378,
                      "background": "auto",
                      "output_format": "png",
                      "quality": "high",
                      "size": "1024x1024",
                      "data": [
                        {
                          "url": "https://oaidalleapiprodscus.blob.core.windows.net/private/org-abc123/user-abc123/img-abc123.png"
                        }
                      ],
                      "usage": {
                        "input_tokens": 15,
                        "input_tokens_details": {
                          "image_tokens": 0,
                          "text_tokens": 15
                        },
                        "output_tokens": 1,
                        "total_tokens": 16
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/edits": {
      "post": {
        "operationId": "createImageEdit",
              "tags": [
                  "Images"
              ],
        "summary": "创建图像编辑",
        "description": "通过上传图像和描述所需更改的提示来创建编辑图像或扩展图像。要求图像必须是有效的PNG文件，小于4MB，并且是正方形。如果mask未提供，图像必须具有透明度，将被用作mask。",
        "security": [
          {
                      "OpenAIAuth": [

                      ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateImageEditRequest"
              },
              "examples": {
                "basic_edit": {
                  "summary": "基础图像编辑",
                  "description": "编辑图像的某个部分",
                  "value": {
                    "image": "@image.png",
                    "prompt": "在图片中添加一朵红色的玫瑰花",
                    "n": 1,
                    "size": "1024x1024"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "图像编辑成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagesResponse"
                },
                "examples": {
                  "success_response": {
                    "summary": "图像编辑成功",
                    "value": {
                      "created": 1589478378,
                      "background": "auto",
                      "output_format": "png",
                      "quality": "high",
                      "size": "1024x1024",
                      "data": [
                        {
                          "url": "https://oaidalleapiprodscus.blob.core.windows.net/private/org-xyz/user-abc/img-edited.png"
                        }
                      ],
                      "usage": {
                        "input_tokens": 18,
                        "input_tokens_details": {
                          "image_tokens": 5,
                          "text_tokens": 13
                        },
                        "output_tokens": 1,
                        "total_tokens": 19
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/variations": {
      "post": {
        "summary": "生成图片变体",
        "description": "为给定图片生成变体",
        "operationId": "createImageVariation",
        "security": [
          {
                      "OpenAIAuth": [

                      ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateImageVariationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "图片变体生成成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/upload": {
      "post": {
        "summary": "上传文件",
        "description": "将本地文件上传到 TokenOPS.AI 存储服务。支持多种文件格式（如：mp4、jpg、png等），最大文件大小 1GB。文件内容需要以二进制形式放在 HTTP 请求体中。",
        "operationId": "uploadFile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "请求内容类型",
            "schema": {
              "type": "string",
              "enum": ["application/octet-stream"],
              "default": "application/octet-stream"
            },
            "example": "application/octet-stream"
          },
          {
            "name": "filename",
            "in": "header",
            "required": true,
            "description": "文件名称，不能超过 255 个字符",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "test.mp4"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "文件的二进制内容。将本地文件直接读取为二进制数据，并作为 HTTP 请求体发送。使用 curl 时可以通过 `--data-binary @./文件路径` 或 `--upload-file ./文件路径` 来上传文件；编程语言中需要将文件读取为字节流并设置为请求体。",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "文件的原始二进制数据。注意：不是 base64 编码，而是文件的直接字节内容。"
              },
              "example": "[文件的二进制数据内容]"
            }
          }
        },
        "responses": {
          "200": {
            "description": "文件上传成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                },
                "examples": {
                  "success_response": {
                    "summary": "成功响应",
                    "value": {
                      "uri": "tokenops://bucket.example.com/file_api/20241016/test.mp4",
                      "mime_type": "video/mp4"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/files": {
      "post": {
        "summary": "上传文件",
        "description": "上传文件到Gemini API用于多模态处理",
        "operationId": "uploadFileGemini",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "要上传的文件"
                  },
                  "displayName": {
                    "type": "string",
                    "description": "文件显示名称"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "文件上传成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "列出文件",
        "description": "获取已上传的文件列表",
        "operationId": "listFiles",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "文件列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/files/{name}": {
      "get": {
        "summary": "获取文件信息",
        "description": "获取特定文件的详细信息",
        "operationId": "getFile",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "文件名称",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "文件信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "删除文件",
        "description": "删除已上传的文件",
        "operationId": "deleteFile",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "文件名称",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "文件删除成功"
          }
        }
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "生成视频",
        "description": "根据文本提示生成视频内容",
        "operationId": "createVideo",
        "security": [
          {
            "OpenAIAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoFormRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "视频生成任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "客户端错误（包括请求参数错误、API密钥无效等）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/{video_id}": {
      "get": {
        "summary": "获取视频生成任务状态",
        "description": "查询视频生成任务的当前状态和进度",
        "operationId": "getVideoStatus",
        "security": [
          {
            "OpenAIAuth": []
          }
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "description": "视频ID",
            "schema": {
              "type": "string",
              "example": "video_123456789"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/{video_id}/content": {
      "get": {
        "summary": "获取视频内容",
        "description": "下载已完成的视频文件内容",
        "operationId": "getVideoContent",
        "security": [
          {
            "OpenAIAuth": []
          }
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "description": "视频ID",
            "schema": {
              "type": "string",
              "example": "video_123456789"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取视频内容",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "视频文件的二进制数据"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "客户端错误（包括请求参数错误、API密钥无效等）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/{video_id}/remix": {
      "post": {
        "summary": "视频 Remix",
        "description": "对现有视频进行有针对性的调整，而无需从头重新生成。系统会重用原始视频的结构、连续性和构图，同时应用您指定的修改。最适合进行单一、明确定义的更改，以保持更多原始保真度。",
        "operationId": "remixVideo",
        "security": [
          {
            "OpenAIAuth": []
          }
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "description": "已完成视频的 ID，将作为 remix 的基础",
            "schema": {
              "type": "string",
              "example": "video_123456789"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemixVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "创建指定视频的 remix 版本，应用新的提示描述的变更",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemixVideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "客户端错误（包括请求参数错误、API密钥无效等）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API-Key 鉴权。所有 API 请求都应在 `Authorization` HTTP Header 中包含您的 API-Key，格式为 `Bearer {API_KEY}`"
      },
      "OpenAIAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OpenAI API密钥认证。在 `Authorization` HTTP Header 中包含您的 API-Key，格式为 `Bearer {API_KEY}`"
      },
      "ClaudeAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Claude API密钥认证。在 `x-api-key` HTTP Header 中包含您的 API-Key"
      },
      "AnthropicVersionAuth": {
        "type": "apiKey",
        "in": "header", 
        "name": "anthropic-version",
        "description": "Claude API版本号，必需的Header，例如：2023-06-01"
      },
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "TokenOPS.AI API密钥认证。在 `Authorization` HTTP Header 中包含您的 API-Key，格式为 `Bearer {API_KEY}`"
      }
    },
    "schemas": {
      "CreateChatCompletionRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CreateModelResponseProperties"
                  },
                  {
        "type": "object",
        "properties": {
          "messages": {
                              "description": "对话历史消息列表。根据您使用的模型，支持不同的消息类型（模态），如文本、图像和音频。",
            "type": "array",
                              "minItems": 1,
            "example": [
              {
                "role": "user",
                "content": "你好，请介绍一下你自己"
              }
            ],
            "items": {
                                  "$ref": "#/components/schemas/ChatCompletionRequestMessage"
                              }
                          },
                          "model": {
                              "description": "用于生成响应的模型ID，如 `gpt-4o`。我们提供各种具有不同能力、性能特点和价格点的模型。",
                              "$ref": "#/components/schemas/ModelId"
                          },
                          "modalities": {
                              "$ref": "#/components/schemas/ResponseModalities"
                          },
                          "verbosity": {
                              "$ref": "#/components/schemas/Verbosity"
                          },
                          "reasoning_effort": {
                              "$ref": "#/components/schemas/ReasoningEffort"
                          },
                          "max_completion_tokens": {
                              "description": "完成部分可生成的token数量上限，包括可见的输出token和推理token。",
                              "type": "integer",
                              "nullable": true
                          },
                          "frequency_penalty": {
                              "type": "number",
                              "default": 0,
                              "minimum": -2,
                              "maximum": 2,
                              "nullable": true,
                              "description": "-2.0到2.0之间的数字。正值会根据文本中已有的频率对新token进行惩罚，降低模型逐字重复相同内容的可能性。"
                          },
                          "presence_penalty": {
                              "type": "number",
                              "default": 0,
                              "minimum": -2,
                              "maximum": 2,
                              "nullable": true,
                              "description": "-2.0到2.0之间的数字。正值会根据token是否已在文本中出现过进行惩罚，增加模型谈论新主题的可能性。"
                          },
                          "web_search_options": {
                            "type": "object",
                              "title": "网络搜索",
                              "description": "这个工具会搜索网络以获取相关结果用于响应。",
                              "properties": {
                                  "user_location": {
                                      "type": "object",
                                      "nullable": true,
                            "required": [
                              "type",
                                          "approximate"
                            ],
                                      "description": "搜索的近似位置参数。",
                            "properties": {
                              "type": {
                                "type": "string",
                                              "description": "位置近似类型。始终为 `approximate`。",
                                "enum": [
                                                  "approximate"
                                              ]
                                          },
                                          "approximate": {
                                              "$ref": "#/components/schemas/WebSearchLocation"
                                          }
                                      }
                                  },
                                  "search_context_size": {
                                      "$ref": "#/components/schemas/WebSearchContextSize"
                                  }
                              }
                          },
                          "top_logprobs": {
                              "description": "一个介于0和20之间的整数，指定在每个token位置返回的最可能token的数量，每个token都有相关的对数概率。如果使用此参数，必须将 `logprobs` 设置为 `true`。",
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 20,
                              "nullable": true
                          },
                          "response_format": {
                              "description": "指定模型必须输出的格式。\n\n设置为 `{ \"type\": \"json_schema\", \"json_schema\": {...} }` 启用结构化输出，确保模型匹配您提供的JSON模式。\n\n设置为 `{ \"type\": \"json_object\" }` 启用旧版JSON模式，确保模型生成的消息是有效的JSON。对于支持的模型，推荐使用 `json_schema`。",
                              "anyOf": [
                                  {
                                      "$ref": "#/components/schemas/ResponseFormatText"
                                  },
                                  {
                                      "$ref": "#/components/schemas/ResponseFormatJsonSchema"
                                  },
                                  {
                                      "$ref": "#/components/schemas/ResponseFormatJsonObject"
                                  }
                              ]
                          },
                          "audio": {
                            "type": "object",
                              "nullable": true,
                              "description": "音频输出参数。当使用 `modalities: [\"audio\"]` 请求音频输出时需要。",
                            "required": [
                                  "voice",
                                  "format"
                            ],
                            "properties": {
                                  "voice": {
                                      "$ref": "#/components/schemas/VoiceId",
                                      "description": "模型用于响应的声音。支持的声音有 `alloy`、`ash`、`ballad`、`coral`、`echo`、`fable`、`nova`、`onyx`、`sage` 和 `shimmer`。"
                                  },
                                  "format": {
                                "type": "string",
                                "enum": [
                                          "wav",
                                          "aac",
                                          "mp3",
                                          "flac",
                                          "opus",
                                          "pcm16"
                                      ],
                                      "description": "指定输出音频格式。必须是 `wav`、`mp3`、`flac`、`opus` 或 `pcm16` 之一。"
                                  }
                              }
                          },
                          "store": {
                              "type": "boolean",
                              "default": false,
                              "nullable": true,
                              "description": "是否存储此聊天完成请求的输出以用于模型蒸馏或评估产品。\n\n支持文本和图像输入。注意：超过8MB的图像输入将被丢弃。"
                          },
                          "stream": {
                              "description": "如果设置为true，模型响应数据将使用服务器发送事件(SSE)实时流式传输。\n有关更多信息，请参阅流式响应指南。",
                              "type": "boolean",
                              "nullable": true,
                              "default": false
                          },
                          "stop": {
                              "$ref": "#/components/schemas/StopConfiguration"
                          },
                          "logit_bias": {
                                "type": "object",
                              "default": null,
                              "nullable": true,
                              "additionalProperties": {
                                  "type": "integer"
                              },
                              "description": "修改指定token在完成中出现的可能性。\n\n接受一个JSON对象，将token（通过其在分词器中的token ID指定）映射到-100到100之间的偏置值。在采样之前，偏置值会添加到模型生成的logits中。具体效果因模型而异，但-1到1之间的值应该会降低或增加选择的可能性；像-100或100这样的值应该会导致相关token被禁止或独占选择。"
                          },
                          "logprobs": {
                              "description": "是否返回输出token的对数概率。如果为true，将在 `message` 的 `content` 中返回每个输出token的对数概率。",
                              "type": "boolean",
                              "default": false,
                              "nullable": true
                          },
                          "max_tokens": {
                              "description": "可以在聊天完成中生成的最大token数。这个值可用于控制通过API生成的文本的成本。\n\n此值现已被 `max_completion_tokens` 取代，且与o系列模型不兼容。",
                              "type": "integer",
                              "nullable": true,
                              "deprecated": true
                          },
                          "n": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 128,
                              "default": 1,
                              "example": 1,
                              "nullable": true,
                              "description": "为每个输入消息生成的聊天完成数量。请注意，您将根据所有选择生成的token数量被收费。保持 `n` 为 `1` 以最小化成本。"
                          },
                          "prediction": {
                              "nullable": true,
                              "description": "预测输出配置，当模型响应的大部分内容事先已知时，可以大大提高响应时间。这在您要重新生成文件且大部分内容只有微小变化时最为常见。",
                              "anyOf": [
                                  {
                                      "$ref": "#/components/schemas/PredictionContent"
                                  }
                              ],
                              "discriminator": {
                                  "propertyName": "type"
                              }
                          },
                          "seed": {
                              "type": "integer",
                              "minimum": -9223372036854776000,
                              "maximum": 9223372036854776000,
                              "nullable": true,
                              "deprecated": true,
                              "description": "此功能处于Beta阶段。\n如果指定，我们的系统将尽最大努力确定性采样，使得具有相同 `seed` 和参数的重复请求应返回相同的结果。\n不保证确定性，您应该参考响应参数中的 `system_fingerprint` 来监控后端的变化。"
                          },
                          "stream_options": {
                              "$ref": "#/components/schemas/ChatCompletionStreamOptions"
                          },
                          "tools": {
                              "type": "array",
                              "description": "模型可能调用的工具列表。您可以提供自定义工具或函数工具。",
                              "items": {
                                  "anyOf": [
                                      {
                                          "$ref": "#/components/schemas/ChatCompletionTool"
                                      },
                                      {
                                          "$ref": "#/components/schemas/CustomToolChatCompletions"
                                      }
                                  ],
                                  "discriminator": {
                                      "propertyName": "type"
                                  }
                              }
                          },
                          "tool_choice": {
                              "$ref": "#/components/schemas/ChatCompletionToolChoiceOption"
                          },
                          "parallel_tool_calls": {
                              "$ref": "#/components/schemas/ParallelToolCalls"
                          },
                          "function_call": {
                              "deprecated": true,
                              "description": "已被 `tool_choice` 取代。\n\n控制模型是否调用函数。\n\n`none` 表示模型不会调用函数，而是生成一条消息。\n\n`auto` 表示模型可以在生成消息和调用函数之间选择。\n\n通过 `{\"name\": \"my_function\"}` 指定特定函数会强制模型调用该函数。\n\n当没有函数存在时，默认为 `none`。当存在函数时，默认为 `auto`。",
                              "anyOf": [
                                  {
                                      "type": "string",
                                      "description": "`none` 表示模型不会调用函数，而是生成一条消息。`auto` 表示模型可以在生成消息和调用函数之间选择。",
                                      "enum": [
                                          "none",
                                          "auto"
                                      ],
                                      "title": "函数调用模式"
                                  },
                                  {
                                      "$ref": "#/components/schemas/ChatCompletionFunctionCallOption"
                                  }
                              ]
                          },
                          "functions": {
                              "deprecated": true,
                              "description": "已被 `tools` 取代。\n\n模型可能为其生成JSON输入的函数列表。",
                              "type": "array",
                              "minItems": 1,
                              "maxItems": 128,
                              "items": {
                                  "$ref": "#/components/schemas/ChatCompletionFunctions"
                              }
                          }
                      },
                      "required": [
                          "model",
                          "messages"
                      ]
                  }
              ]
          },
          "ChatCompletionRequestMessage": {
              "anyOf": [
                  {
                      "$ref": "#/components/schemas/ChatCompletionRequestUserMessage"
                  },
                  {
                      "$ref": "#/components/schemas/ChatCompletionRequestDeveloperMessage"
                  },
                  {
                      "$ref": "#/components/schemas/ChatCompletionRequestSystemMessage"
                  },
                  {
                      "$ref": "#/components/schemas/ChatCompletionRequestAssistantMessage"
                  },
                  {
                      "$ref": "#/components/schemas/ChatCompletionRequestToolMessage"
                  },
                  {
                      "$ref": "#/components/schemas/ChatCompletionRequestFunctionMessage"
                  }
              ],
              "discriminator": {
                  "propertyName": "role"
              }
          },
          "ChatCompletionRequestDeveloperMessage": {
              "title": "开发者消息",
              "type": "object",
            "properties": {
                  "role": {
                      "type": "string",
                      "enum": [
                          "developer"
                      ],
                      "description": "消息的角色，必须是 'developer'。"
                  },
                  "content": {
                      "type": "string",
                      "description": "消息的内容。"
                  },
                  "name": {
                      "type": "string",
                      "description": "开发者的名称。"
                  }
              },
              "required": [
                  "role",
                  "content"
              ]
          },
          "ChatCompletionRequestSystemMessage": {
              "type": "object",
              "title": "系统消息",
              "properties": {
                  "role": {
                      "type": "string",
                      "enum": [
                          "system"
                      ],
                      "description": "消息的角色，必须是 'system'。"
                  },
                  "content": {
                      "type": "string",
                      "description": "系统消息的内容。"
                  },
                  "name": {
                      "type": "string",
                      "description": "系统消息的名称。"
                  }
              },
              "required": [
                  "role",
                  "content"
              ]
          },
          "ChatCompletionRequestUserMessage": {
              "type": "object",
              "title": "用户消息",
              "properties": {
                  "role": {
                      "type": "string",
                      "enum": [
                          "user"
                      ],
                      "description": "消息的角色，必须是 'user'。",
                      "default": "user"
                  },
                  "content": {
                      "anyOf": [
                          {
                              "type": "string",
                              "description": "用户消息的文本内容。",
                              "example": "你好，请介绍一下你自己"
                          },
                          {
                              "type": "array",
                              "description": "包含不同内容部分的数组，可以是文本、图像等。",
                              "items": {
                                  "anyOf": [
                                      {
                                          "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartText"
                                      },
                                      {
                                          "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartImage"
                                      },
                                      {
                                          "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartAudio"
                                      },
                                      {
                                          "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartFile"
                                      }
                                  ]
                              }
                          }
                      ]
                  },
                  "name": {
                      "type": "string",
                      "description": "用户的名称。"
                  }
              },
              "required": [
                  "role",
                  "content"
              ]
          },
          "ChatCompletionRequestAssistantMessage": {
              "type": "object",
              "title": "助手消息",
              "properties": {
                  "role": {
                      "type": "string",
                      "enum": [
                          "assistant"
                      ],
                      "description": "消息的角色，必须是 'assistant'。",
                      "default": "assistant"
                  },
                  "content": {
                      "anyOf": [
                          {
                              "type": "string",
                              "description": "助手消息的文本内容。"
                          },
                          {
                              "type": "null",
                              "description": "当消息仅包含工具调用时，内容可以为null。"
                          }
                      ]
                  },
                  "name": {
                      "type": "string",
                      "description": "助手的名称。"
                  },
                  "tool_calls": {
                      "type": "array",
                      "description": "助手发起的工具调用列表。",
                      "items": {
                          "$ref": "#/components/schemas/ChatCompletionMessageToolCall"
                      }
                  },
                  "function_call": {
                "type": "object",
                      "description": "已弃用。请使用 tool_calls 代替。",
                      "deprecated": true,
                      "properties": {
                          "name": {
                              "type": "string",
                              "description": "函数的名称。"
                          },
                          "arguments": {
                              "type": "string",
                              "description": "函数的参数，格式为JSON字符串。"
                          }
                      }
                  }
              },
              "required": [
                  "role"
              ]
          },
          "ChatCompletionRequestToolMessage": {
              "type": "object",
              "title": "工具消息",
              "properties": {
                  "role": {
                      "type": "string",
                      "enum": [
                          "tool"
                      ],
                      "description": "消息的角色，必须是 'tool'。",
                      "default": "tool"
                  },
                  "content": {
                      "type": "string",
                      "description": "工具返回的内容。",
                      "example": "工具返回的内容"
                  },
                  "tool_call_id": {
                      "type": "string",
                      "description": "此消息响应的工具调用的ID。"
                  }
              },
              "required": [
                  "role",
                  "content",
                  "tool_call_id"
              ]
          },
          "ChatCompletionRequestFunctionMessage": {
              "type": "object",
              "title": "函数消息",
              "properties": {
                  "role": {
                      "type": "string",
                      "enum": [
                          "function"
                      ],
                      "description": "消息的角色，必须是 'function'。",
                      "default": "function"
                  },
                  "content": {
                      "type": "string",
                      "description": "函数返回的内容。"
                  },
                  "name": {
                      "type": "string",
                      "description": "函数的名称。"
                  }
              },
              "required": [
                  "role",
                  "content",
                  "name"
              ]
          },
          "ChatCompletionRequestMessageContentPartText": {
              "type": "object",
              "title": "文本内容部分",
              "description": "文本输入部分。",
              "properties": {
                  "type": {
                      "type": "string",
                      "enum": [
                          "text"
                      ],
                      "description": "内容部分的类型，始终为 `text`。",
                      "default": "text"
                  },
                  "text": {
                      "type": "string",
                      "description": "文本内容。"
                  }
              },
              "required": [
                  "type",
                  "text"
              ]
          },
          "ChatCompletionRequestMessageContentPartImage": {
              "type": "object",
              "title": "图像内容部分",
              "description": "图像输入部分。",
              "properties": {
                  "type": {
                      "type": "string",
                      "enum": [
                          "image_url"
                      ],
                      "description": "内容部分的类型。",
                      "default": "image_url"
                  },
                  "image_url": {
                      "type": "object",
                      "properties": {
                          "url": {
                              "type": "string",
                              "description": "图像的URL或Base64编码的图像数据。",
                              "format": "uri"
                          },
                          "detail": {
                              "type": "string",
                              "description": "指定图像的详细级别。",
                              "enum": [
                                  "auto",
                                  "low",
                                  "high"
                              ],
                              "default": "auto"
                          }
                      },
                      "required": [
                          "url"
                      ]
                  }
              },
              "required": [
                  "type",
                  "image_url"
              ]
          },
          "ChatCompletionRequestMessageContentPartAudio": {
            "type": "object",
              "title": "音频内容部分",
              "description": "音频输入部分。",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                          "input_audio"
                      ],
                      "description": "内容部分的类型，始终为 `input_audio`。",
                      "default": "input_audio"
                  },
                  "input_audio": {
                      "type": "object",
                      "properties": {
                          "data": {
                              "type": "string",
                              "description": "Base64编码的音频数据。"
                          },
                          "format": {
                              "type": "string",
                              "enum": [
                                  "wav",
                                  "mp3"
                              ],
                              "description": "编码音频数据的格式。目前支持\"wav\"和\"mp3\"。"
                          }
                      },
                      "required": [
                          "data",
                          "format"
                      ]
                  }
              },
              "required": [
                  "type",
                  "input_audio"
              ]
          },
          "ChatCompletionRequestMessageContentPartFile": {
              "type": "object",
              "title": "文件内容部分",
              "description": "文件输入部分。",
              "properties": {
                  "type": {
                      "type": "string",
                      "enum": [
                          "file"
                      ],
                      "description": "内容部分的类型，始终为 `file`。",
                      "default": "file"
                  },
                  "file": {
                      "type": "object",
                      "properties": {
                          "filename": {
                              "type": "string",
                              "description": "文件的名称，用于将文件作为字符串传递给模型时使用。"
                          },
                          "file_data": {
                              "type": "string",
                              "description": "Base64编码的文件数据，用于将文件作为字符串传递给模型时使用。"
                          },
                          "file_id": {
                              "type": "string",
                              "description": "要用作输入的已上传文件的ID。"
                          }
                      }
                  }
              },
              "required": [
                  "type",
                  "file"
              ]
          },
          "ModelId": {
              "example": "gpt-4o",
              "anyOf": [
                  {
                      "type": "string"
                  },
                  {
                      "$ref": "#/components/schemas/ChatModel"
                  }
              ]
          },
          "ChatModel": {
              "type": "string",
              "enum": [
                  "gpt-4o",
                  "gpt-4o-mini",
                  "gpt-4-turbo",
                  "gpt-4",
                  "gpt-3.5-turbo",
                  "o1-preview",
                  "o1-mini"
              ],
              "description": "可用于聊天完成的模型ID。"
          },
          "ResponseModalities": {
            "type": "array",
              "description": "指定响应中应包含的模态类型。",
            "items": {
                  "type": "string",
                  "enum": [
                      "text",
                      "audio"
                  ]
              }
          },
          "Verbosity": {
              "type": "string",
              "enum": [
                  "low",
                  "medium",
                  "high"
              ],
              "description": "控制模型响应的详细程度。",
              "default": "medium"
          },
          "ReasoningEffort": {
              "anyOf": [
                  {
                      "type": "string",
                      "enum": [
                          "minimal",
                          "low",
                          "medium",
                          "high"
                      ],
                      "default": "medium",
                      "description": "限制推理模型的推理努力程度。当前支持的值有 `minimal`、`low`、`medium` 和 `high`。减少推理努力可以导致更快的响应和在响应中使用更少的推理token。"
                  },
                  {
                      "type": "null"
                  }
              ]
          },
          "WebSearchLocation": {
              "type": "object",
              "properties": {
                  "country_code": {
                      "type": "string",
                      "description": "两字母的ISO 3166-1国家代码。"
                  },
                  "region_code": {
                      "type": "string",
                      "description": "地区代码，如美国的州代码。"
                  }
              },
              "required": [
                  "country_code"
              ]
          },
          "WebSearchContextSize": {
              "type": "string",
              "enum": [
                  "small",
                  "medium",
                  "large"
              ],
              "description": "控制从搜索结果中提取的上下文量。",
              "default": "medium"
          },
          "ResponseFormatText": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                          "text"
                  ],
                      "description": "指定响应格式为纯文本。"
                  }
                },
                  "required": [
                  "type"
              ]
          },
          "ResponseFormatJsonSchema": {
              "type": "object",
                  "properties": {
                  "type": {
                      "type": "string",
                      "enum": [
                          "json_schema"
                      ],
                      "description": "指定响应格式为符合提供的JSON模式的结构化输出。"
                  },
                  "json_schema": {
                      "type": "object",
                      "description": "定义响应必须遵循的JSON模式。",
                      "additionalProperties": true
                  },
                    "name": {
                      "type": "string",
                      "description": "模式的名称。"
                    },
                    "description": {
                      "type": "string",
                      "description": "模式的描述。"
                  },
                  "strict": {
                      "type": "boolean",
                      "description": "是否严格验证响应符合模式。",
                      "default": false
                  }
              },
                      "required": [
                  "type",
                  "json_schema"
              ]
          },
          "ResponseFormatJsonObject": {
              "type": "object",
                      "properties": {
                        "type": {
                      "type": "string",
                      "enum": [
                          "json_object"
                      ],
                      "description": "指定响应格式为JSON对象。"
                  }
              },
              "required": [
                  "type"
              ]
          },
          "VoiceId": {
              "type": "string",
              "enum": [
                  "alloy",
                  "ash",
                  "ballad",
                  "coral",
                  "echo",
                  "fable",
                  "nova",
                  "onyx",
                  "sage",
                  "shimmer"
              ],
              "description": "用于音频输出的声音ID。"
          },
          "StopConfiguration": {
              "description": "最新推理模型 `o3` 和 `o4-mini` 不支持。\n\n最多4个序列，API将在生成这些序列时停止生成更多token。返回的文本不会包含停止序列。",
              "nullable": true,
              "anyOf": [
                  {
                      "type": "string",
                      "default": "<|endoftext|>",
                      "example": "\n",
                      "nullable": true
                  },
                  {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 4,
                      "items": {
                          "type": "string",
                          "example": "[\"\\n\"]"
                      }
                  }
              ]
          },
          "ChatCompletionStreamOptions": {
              "type": "object",
              "description": "流式聊天完成的选项。",
              "properties": {
                  "include_usage": {
                      "type": "boolean",
                      "description": "如果为true，则在流的最后一个块中包含使用情况统计信息。",
                      "default": false
                  }
              }
          },
          "ChatCompletionTool": {
              "type": "object",
              "title": "函数工具",
              "properties": {
                  "type": {
                      "type": "string",
                      "enum": [
                          "function"
                      ],
                      "description": "工具的类型，必须是 'function'。"
                  },
                  "function": {
                      "$ref": "#/components/schemas/ChatCompletionToolFunction"
                  }
              },
              "required": [
                  "type",
                  "function"
              ]
          },
          "ChatCompletionToolFunction": {
              "type": "object",
              "properties": {
                  "name": {
                      "type": "string",
                      "description": "函数的名称。"
                        },
                        "description": {
                          "type": "string",
                      "description": "函数的描述。"
                  },
                  "parameters": {
                      "type": "object",
                      "description": "函数参数的JSON Schema定义。",
                      "additionalProperties": true
                  }
              },
              "required": [
                  "name"
              ]
          },
          "CustomToolChatCompletions": {
              "type": "object",
              "title": "自定义工具",
              "properties": {
                  "type": {
                      "type": "string",
                      "description": "自定义工具的类型。"
                  }
              },
              "required": [
                  "type"
              ]
          },
          "ChatCompletionToolChoiceOption": {
              "anyOf": [
              {
                "type": "string",
                "enum": [
                  "auto",
                  "none",
                  "required"
                      ],
                      "description": "工具选择策略。'auto'表示模型自动决定是否使用工具，'none'表示不使用工具，'required'表示必须使用工具。"
              },
              {
                "type": "object",
                      "title": "指定工具",
                "properties": {
                          "type": {
                              "type": "string",
                              "enum": [
                                  "function"
                              ],
                              "description": "工具类型，必须是 'function'。"
                          },
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                                      "description": "要使用的函数名称。"
                      }
                              },
                              "required": [
                                  "name"
                              ]
                    }
                  },
                      "required": [
                          "type",
                      "function"
                    ]
                  }
              ]
          },
          "ParallelToolCalls": {
            "type": "boolean",
            "default": true,
              "description": "是否允许模型并行调用多个工具。"
          },
          "ChatCompletionFunctionCallOption": {
              "type": "object",
              "properties": {
                  "name": {
            "type": "string",
                      "description": "要调用的函数名称。"
                  }
              },
              "required": [
                  "name"
              ]
          },
          "ChatCompletionFunctions": {
              "type": "object",
              "properties": {
                  "name": {
              "type": "string",
                      "description": "函数的名称。"
                  },
                  "description": {
                      "type": "string",
                      "description": "函数的描述。"
                  },
                  "parameters": {
                      "type": "object",
                      "description": "函数参数的JSON Schema定义。",
                      "additionalProperties": true
                  }
              },
              "required": [
                  "name"
              ]
          },
          "PredictionContent": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                      "enum": [
                          "content"
                      ],
                      "description": "预测类型，必须是 'content'。"
              },
              "content": {
                "type": "string",
                      "description": "预测的文本内容。"
              }
            },
              "required": [
                  "type",
                  "content"
              ]
          },
          "ModelResponseProperties": {
            "type": "object",
            "properties": {
                  "metadata": {
                      "type": "object",
                      "description": "请求的元数据",
                      "additionalProperties": true
                  },
                  "top_logprobs": {
                      "anyOf": [
                          {
[...]
